[Desktop Entry]
Version=1.0
Type=Application
Name=Flex QSS Builder
Comment=Create QSS
Exec=flexqss
Icon=linuxcncicon
Categories=Development;Engineering;X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=flexqss
GenericName=Flex QSS Builder

Name[en_US]=Flex QSS Builder
