[Desktop Entry]
Version=1.0
Type=Application
Name=Flex Resources
Comment=Create Image Resource file
Exec=flexqrc
Icon=linuxcncicon
Categories=Development;Engineering;X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=flexqrc
GenericName=Flex Resource Builder

Name[en_US]=Flex Resources
